swagger: '2.0'
info:
  version: '1.0'
  title: Press Association Sport API
  description: Welcome to the IO Docs page for the Press Association Sport API.
  license:
    name: MIT
    url: 'http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT'
host: sport.api.press.net
basePath: /v1
securityDefinitions:
  apikey:
    type: apiKey
    name: apikey
    in: header
    x-testValue: ''
schemes:
  - http
produces:
  - application/json
  - application/xml
paths:
  /:
    get:
      description: >-
        Return a collection of available resources. This endpoint is for
        navigation of the API only.

         Some of the endpoints are not navigable without suppling the required parameters in with the request.
      tags:
        - Root
      operationId: Get Resources
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /country:
    get:
      description: Return a collection of countries.
      tags:
        - Country
      operationId: Country Collection
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          enum: 
            - application/json
            - application/xml
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: limit
          in: query
          required: false
          default: 100
          maximum: 100
          type: integer
          format: int32
          description: >-
            Limit the the number of items to be returned per page. For example:
            5.


            The 'limit' parameter is typically used with the 'offset' parameter
            to facilitate pagination.

             Maximum limit: 100
        - name: offset
          in: query
          required: false
          default: 0
          type: integer
          format: int32
          description: >-
            The page offset of the first item to be returned. For example: 2.


            The 'offset' parameter is typically used with the 'limit' parameter
            to facilitate pagination.
      responses:
        "200":
          description: "Country Collection Response"
          schema: 
            type: "array"
            items: 
              $ref: "#/definitions/Country"
          examples:
            application/json: |-
              [
                {
                  "id": 4
                  "name": "England"
                }
              ]
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/country/{countryId}':
    get:
      description: Return the country's details.
      tags:
        - Country
      operationId: Country Detail
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: countryId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the country requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /draw:
    get:
      description: Return a collection of draws.
      tags:
        - Draw
      operationId: Draw Collection
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: stage
          in: query
          required: true
          type: integer
          format: int32
          description: The Stage ID for the draw selection.
        - name: limit
          in: query
          required: false
          default: 30
          type: integer
          format: int32
          description: >-
            Limit the the number of items to be returned per page. For example:
            5.


            The 'limit' parameter is typically used with the 'offset' parameter
            to facilitate pagination.

             Maximum limit: 30
        - name: offset
          in: query
          required: false
          default: 0
          type: integer
          format: int32
          description: >-
            The page offset of the first item to be returned. For example: 2.


            The 'offset' parameter is typically used with the 'limit' parameter
            to facilitate pagination.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/draw/{drawId}':
    get:
      description: Return the draw's details.
      tags:
        - Draw
      operationId: Draw Detail
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: drawId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the draw requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /event:
    get:
      description: >-
        Return a collection of events. One request parameter is required unless
        the combination of country and sport is used.
      tags:
        - Event
      operationId: Event Collection
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: false
          default: application/json
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: sport
          in: query
          required: false
          default: 2
          type: integer
          format: int32
          description: The Sport ID for the event selection.
        - name: country
          in: query
          required: false
          type: integer
          format: int32
          description: The Country ID for the event selection.
        - name: tournament
          in: query
          required: false
          default: 153
          type: integer
          format: int32
          description: The Tournament ID for the event selection.
        - name: season
          in: query
          required: false
          default: 9001
          type: integer
          format: int32
          description: The Season ID for the event selection.
        - name: stage
          in: query
          required: false
          default: 837177
          type: integer
          format: int32
          description: The stage ID for the event selection.
        - name: start
          in: query
          required: false
          default: '2015-09-01'
          type: string
          description: >
            Limit the events to ones scheduled to the selected date provided.
            For example: 2014-04-17.


            The 'end' parameter is typically used in combination with the
            'start' param to form a date range.


             Formats Supported:


             - 
             'YYYY-MM-DD'
             'YYYY-MM-DD[T]HH:mm:ssZ'
             'YYYY-MM-DD[T]HH:mm:ss.SSSZ'
             'YYYY-MM-DD[T]HH:mm:ss'
             'YYYY-MM-DD[T]HH:mm'
             'now'
             'today'
             'tomorrow'
             'now.plus.n'
             'now.minus.n'
        - name: end
          in: query
          required: false
          default: '2015-09-30'
          type: string
          description: >
            Limit the events to ones scheduled before the selected date
            provided. For example: 2014-04-17.


            The 'end' parameter is typically used in combination with the
            'start' param to form a date range.


             Formats Supported:


             - yyyy/MM/dd 


             'YYYY-MM-DD'
             'YYYY-MM-DD[T]HH:mm:ssZ'
             'YYYY-MM-DD[T]HH:mm:ss.SSSZ'
             'YYYY-MM-DD[T]HH:mm:ss'
             'YYYY-MM-DD[T]HH:mm'
             'now'
             'today'
             'tomorrow'
             'now.plus.n'
             'now.minus.n'
        - name: limit
          in: query
          required: false
          default: 20
          type: integer
          format: int32
          description: >-
            Limit the the number of items to be returned per page. For example:
            5.


            The 'limit' parameter is typically used with the 'offset' parameter
            to facilitate pagination. 

             Maximum limit: 20
        - name: offset
          in: query
          required: false
          default: 0
          type: integer
          format: int32
          description: >-
            The page offset of the first item to be returned. For example: 2.


            The 'offset' parameter is typically used with the 'limit' parameter
            to facilitate pagination.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/event/{eventId}':
    get:
      description: Return the event's details.
      tags:
        - Event
      operationId: Event Detail
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: eventId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the event requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/event/{eventId}/actions':
    get:
      description: Return the event's actions.
      tags:
        - Event
      operationId: Event Actions
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: eventId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the event requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/event/{eventId}/composition':
    get:
      description: Return the event composition.
      tags:
        - Event
      operationId: Event Composition
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: eventId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the event requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/participant/{participantId}':
    get:
      description: Return the participant's details.
      tags:
        - Participant
      operationId: Participant Detail
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: participantId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the participant requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /season:
    get:
      description: Return a collection of seasons.
      tags:
        - Season
      operationId: Season Collection
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: false
          default: application/json
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: tournament
          in: query
          required: true
          type: integer
          format: int32
          description: The Tournament ID for the event selection.
        - name: limit
          in: query
          required: false
          default: 30
          type: integer
          format: int32
          description: >-
            Limit the the number of items to be returned per page. For example:
            5.


            The 'limit' parameter is typically used with the 'offset' parameter
            to facilitate pagination.

             Maximum limit: 30
        - name: offset
          in: query
          required: false
          default: 0
          type: integer
          format: int32
          description: >-
            The page offset of the first item to be returned. For example: 2.


            The 'offset' parameter is typically used with the 'limit' parameter
            to facilitate pagination.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/season/{seasonId}':
    get:
      description: Return the season's details.
      tags:
        - Season
      operationId: Season Detail
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: seasonId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the season requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /sport:
    get:
      description: Return a collection of sports.
      tags:
        - Sport
      operationId: Sport Collection
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: limit
          in: query
          required: false
          default: 30
          type: integer
          format: int32
          description: >-
            Limit the the number of items to be returned per page. For example:
            5.


            The 'limit' parameter is typically used with the 'offset' parameter
            to facilitate pagination.

             Maximum limit: 30
        - name: offset
          in: query
          required: false
          default: 0
          type: integer
          format: int32
          description: >-
            The page offset of the first item to be returned. For example: 2.


            The 'offset' parameter is typically used with the 'limit' parameter
            to facilitate pagination.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/sport/{sportId}':
    get:
      description: Return the standing's details.
      tags:
        - Sport
      operationId: Sport Detail
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: sportId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the sport requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /standing:
    get:
      description: |
        Return a collection of standings.

        - One of: sport,
        tournament, season, stage, participant, event should be supplied
      tags:
        - Standing
      operationId: Standing Collection
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: false
          default: application/json
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: start
          in: query
          required: false
          default: '2015-10-01'
          type: string
          description: >
            Limit the standings to ones scheduled to the selected date provided.
            For example: 2014-04-17.


            The 'end' parameter is typically used in combination with the
            'start' param to form a date range.


             Formats Supported:


             - 
             'YYYY-MM-DD'
             'YYYY-MM-DD[T]HH:mm:ssZ'
             'YYYY-MM-DD[T]HH:mm:ss.SSSZ'
             'YYYY-MM-DD[T]HH:mm:ss'
             'YYYY-MM-DD[T]HH:mm'
             'now'
             'today'
             'tomorrow'
             'now.plus.n'
             'now.minus.n'
        - name: end
          in: query
          required: false
          default: '2015-10-31'
          type: string
          description: >
            Limit the standings to ones scheduled before the selected date
            provided. For example: 2014-04-17.


            The 'end' parameter is typically used in combination with the
            'start' param to form a date range.


             Formats Supported:


             - yyyy/MM/dd 


             'YYYY-MM-DD'
             'YYYY-MM-DD[T]HH:mm:ssZ'
             'YYYY-MM-DD[T]HH:mm:ss.SSSZ'
             'YYYY-MM-DD[T]HH:mm:ss'
             'YYYY-MM-DD[T]HH:mm'
             'now'
             'today'
             'tomorrow'
             'now.plus.n'
             'now.minus.n'
        - name: sport
          in: query
          required: false
          type: integer
          format: int32
          description: The Sport ID for the standings selection.
        - name: tournament
          in: query
          required: false
          type: integer
          format: int32
          description: The Tournament ID for the standings selection.
        - name: season
          in: query
          required: false
          type: integer
          format: int32
          description: The Season ID for the standings selection.
        - name: stage
          in: query
          required: false
          default: 840491
          type: integer
          format: int32
          description: The Stage ID for the standings selection.
        - name: event
          in: query
          required: false
          type: integer
          format: int32
          description: The Event ID for the standings selection.
        - name: participant
          in: query
          required: false
          type: integer
          format: int32
          description: The Participant ID for the standings selection.
        - name: limit
          in: query
          required: false
          default: 20
          type: integer
          format: int32
          description: >-
            Limit the the number of items to be returned per page. For example:
            5.


            The 'limit' parameter is typically used with the 'offset' parameter
            to facilitate pagination.

             Maximum limit: 20
        - name: offset
          in: query
          required: false
          default: 0
          type: integer
          format: int32
          description: >-
            The page offset of the first item to be returned. For example: 2.


            The 'offset' parameter is typically used with the 'limit' parameter
            to facilitate pagination.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/standing/{standingId}':
    get:
      description: Return the standing's details.
      tags:
        - Standing
      operationId: Standing Detail
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: standingId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the standing requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /stage:
    get:
      description: |
        Return a collection of stages.

        - At least one of sport
        or season must be supplied
      tags:
        - Stage
      operationId: Stage Collection
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: false
          default: application/json
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: start
          in: query
          required: false
          default: '2015-10-01'
          type: string
          description: >
            Limit the stages to ones scheduled to the selected date provided.
            For example: 2014-04-17.


            The 'end' parameter is typically used in combination with the
            'start' param to form a date range.


             Formats Supported:


             - 
             'YYYY-MM-DD'
             'YYYY-MM-DD[T]HH:mm:ssZ'
             'YYYY-MM-DD[T]HH:mm:ss.SSSZ'
             'YYYY-MM-DD[T]HH:mm:ss'
             'YYYY-MM-DD[T]HH:mm'
             'now'
             'today'
             'tomorrow'
             'now.plus.n'
             'now.minus.n'
        - name: end
          in: query
          required: false
          default: '2015-10-31'
          type: string
          description: >
            Limit the stages to ones scheduled before the selected date
            provided. For example: 2014-04-17.


            The 'end' parameter is typically used in combination with the
            'start' param to form a date range.


             Formats Supported:


             - yyyy/MM/dd 


             'YYYY-MM-DD'
             'YYYY-MM-DD[T]HH:mm:ssZ'
             'YYYY-MM-DD[T]HH:mm:ss.SSSZ'
             'YYYY-MM-DD[T]HH:mm:ss'
             'YYYY-MM-DD[T]HH:mm'
             'now'
             'today'
             'tomorrow'
             'now.plus.n'
             'now.minus.n'
        - name: sport
          in: query
          required: false
          type: integer
          format: int32
          description: The Sport ID for the stage selection.
        - name: season
          in: query
          required: false
          default: 8986
          type: integer
          format: int32
          description: The Season ID for the stage selection.
        - name: limit
          in: query
          required: false
          default: 50
          type: integer
          format: int32
          description: >-
            Limit the the number of items to be returned per page. For example:
            5.


            The 'limit' parameter is typically used with the 'offset' parameter
            to facilitate pagination.

             Maximum limit: 50
        - name: offset
          in: query
          required: false
          default: 0
          type: integer
          format: int32
          description: >-
            The page offset of the first item to be returned. For example: 2.


            The 'offset' parameter is typically used with the 'limit' parameter
            to facilitate pagination.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/stage/{stageId}':
    get:
      description: Return the stage's details.
      tags:
        - Stage
      operationId: Stage Detail
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: stageId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the stage requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /tournament:
    get:
      description: Return a collection of tournaments.
      tags:
        - Tournament
      operationId: Tournament Collection
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: false
          default: application/json
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: sport
          in: query
          required: true
          type: integer
          format: int32
          description: The Sport ID for the tournament selection.
        - name: limit
          in: query
          required: false
          default: 50
          type: integer
          format: int32
          description: >-
            Limit the the number of items to be returned per page. For example:
            5.


            The 'limit' parameter is typically used with the 'offset' parameter
            to facilitate pagination.

             Maximum limit: 50
        - name: offset
          in: query
          required: false
          default: 0
          type: integer
          format: int32
          description: >-
            The page offset of the first item to be returned. For example: 2.


            The 'offset' parameter is typically used with the 'limit' parameter
            to facilitate pagination.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/tournament/{tournamentId}':
    get:
      description: Return the tournament's details.
      tags:
        - Tournament
      operationId: Tournament Detail
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: tournamentId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the tournament requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/venue/{venueId}':
    get:
      description: Return the venue's details.
      tags:
        - Venue
      operationId: Venue Detail
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: 'The response format. (Acceptable values are: "application/json")'
        - name: venueId
          in: path
          required: true
          type: integer
          format: int32
          description: The identifier for the venue requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - apikey: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
        
        
definitions: 
  Country: 
    type: "object"
    required: 
      - "id"
      - "name"
    properties: 
      id: 
        type: "integer"
      name: 
        type: "string"
