swagger: '2.0'
info:
  version: '1.0'
  title: Sport API
  description: Welcome to the Press Association Sport API Developer Documentation.
host: sport.api.press.net
basePath: /v1
securityDefinitions:
  apikey:
    type: apiKey
    name: apikey
    in: header
schemes:
  - https
  - http
produces:
  - application/json
  - application/xml
paths:
  /:
    get:
      description: >-
        Return a collection of available resources. This endpoint is for navigation of the API only.
        Some of the endpoints are not navigable without suppling the required parameters in with the request.
      operationId: getResources
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "links": [
                  {
                    "rel": "self",
                    "href": "http://sport-uat.api.press.net/v1"
                  },
                  {
                    "rel": "sport-collection",
                    "href": "http://sport-uat.api.press.net/v1/sport"
                  }
                ]
              }
  /country:
    get:
      description: Return a collection of countries.
      tags:
        - Country
      operationId: listCountries
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/limit'
          maximum: 100
        - $ref: '#/parameters/offset'
      responses:
        "200":
          description: "Country Collection Response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Country"
          examples:
            application/json: |-
              {
                "offset": 0,
                "limit": 20,
                "hasNext": true,
                "hasPrevious": false,
                "items": [
                  {
                    "id": 4,
                    "name": "England",
                    "updated": "2017-01-01T00:00:00Z"
                    "meta": {
                      "iso-code": {
                        "code": "country:iso-code",
                        "name": "Iso Code",
                        "value": "GBR"
                      }
                    },
                    "links": [
                      {
                        "rel": "self",
                        "href": "http://sport-uat.api.press.net/v1/country/2"
                      }
                    ]
                  }
                ]
              }
            application/xml: |-
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/country" document-class="pa:country-collection">
                  <sports-property formal-name="hasNext" value="true"/>
                  <sports-property formal-name="hasPrevious" value="false"/>
                  <sports-property formal-name="limit" value="20"/>
                  <sports-property formal-name="offset" value="0"/>
                </pa:sports-metadata>
                <pa:country id="country.174">
                  <pa:country-metadata>
                    <sports-content-codes>
                      <sports-content-code code-type="pa:country" code-key="country:174" code-name="Afghanistan"/>
                    </sports-content-codes>
                    <sports-property formal-name="country:iso-code" value="AFG"/>
                    <sports-property formal-name="common:updated" value="2014-04-30T10:27:29Z"/>
                    <name>Afghanistan</name>
                  </pa:country-metadata>
                </pa:country>
              </pa:sports-content>
  '/country/{countryId}':
    get:
      description: Return the country's details.
      tags:
        - Country
      operationId: getCountry
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: countryId
          description: The identifier for the country requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": 2,
                "name": "England",
                "updated": "2015-10-20T14:15:46Z",
                "meta": {
                  "iso-code": {
                    "code": "country:iso-code",
                    "name": "Iso Code",
                    "value": "GBR"
                  }
                },
                "links": [
                  {
                    "rel": "self",
                    "href": "http://sport-uat.api.press.net/v1/country/2"
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/country/2" document-class="pa:country-detail"></pa:sports-metadata>
                  <pa:country id="country.2">
                      <pa:country-metadata>
                          <sports-content-codes>
                              <sports-content-code code-type="pa:country" code-key="country:2" code-name="England"/>
                          </sports-content-codes>
                          <sports-property formal-name="country:iso-code" value="GBR"/>
                          <sports-property formal-name="common:updated" value="2015-10-20T14:15:46Z"/>
                          <name>England</name>
                      </pa:country-metadata>
                  </pa:country>
              </pa:sports-content>
  /draw:
    get:
      description: Return a collection of draws.
      tags:
        - Draw
      operationId: listDraws
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseParentId'
          name: stage
          required: true
          description: The Stage Id for the draw selection.
        - $ref: '#/parameters/limit'
          maximum: 30
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "offset": 0,
                "limit": 20,
                "hasNext": false,
                "hasPrevious": false,
                "items": [
                  {
                    "id": 6376,
                    "name": "BNP Paribas Masters, Qualification Male Single draw",
                    "type": "Male Single",
                    "updated": "2014-11-19T00:00:23Z",
                    "stage": {
                      "id": 837828,
                      "name": "BNP Paribas Masters, Qualification",
                      "gender": "male",
                      "start": "2015-10-30",
                      "end": "2015-11-01",
                      "country": {
                        "id": 5,
                        "name": "France"
                      }
                    },
                    "season": {
                      "id": 8986,
                      "name": "2015"
                    },
                    "tournament": {
                      "id": 156,
                      "name": "ATP",
                      "gender": "male"
                    },
                    "sport": {
                      "id": 2,
                      "name": "Tennis"
                    },
                    "links": [
                      {
                        "rel": "self",
                        "href": "http://sport-uat.api.press.net/v1/draw/6376"
                      }
                    ]
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/draw?stage=837828" document-class="pa:draw-collection">
                      <sports-property formal-name="hasNext" value="false"/>
                      <sports-property formal-name="hasPrevious" value="false"/>
                      <sports-property formal-name="limit" value="20"/>
                      <sports-property formal-name="offset" value="0"/>
                  </pa:sports-metadata>
                  <pa:tournament id="tournament.156">
                      <tournament-division id="season.8986">
                          <tournament-part id="stage.837828">
                              <tournament-part id="draw.6376">
                                  <tournament-part-metadata key="draw:6376" type="pa:draw">
                                      <sports-content-codes>
                                          <sports-content-code code-type="pa:sport" code-key="sport:2" code-name="Tennis"/>
                                          <sports-content-code code-type="pa:gender" code-key="gender:male" code-name="male"/>
                                          <sports-content-code code-type="pa:tournament" code-key="tournament:156" code-name="ATP"/>
                                          <sports-content-code code-type="pa:season" code-key="season:8986" code-name="2015"/>
                                          <sports-content-code code-type="pa:stage" code-key="stage:837828" code-name="BNP Paribas Masters, Qualification"/>
                                          <sports-content-code code-type="pa:draw" code-key="draw:6376" code-name="BNP Paribas Masters, Qualification Male Single draw"/>
                                      </sports-content-codes>
                                      <sports-property formal-name="common:updated" value="2014-11-19T00:00:23Z"/>
                                      <name>BNP Paribas Masters, Qualification Male Single draw</name>
                                  </tournament-part-metadata>
                              </tournament-part>
                          </tournament-part>
                      </tournament-division>
                  </pa:tournament>
              </pa:sports-content>
  '/draw/{drawId}':
    get:
      description: Return the draw's details.
      tags:
        - Draw
      operationId: getDraw
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: drawId
          description: The identifier for the draw requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": 6376,
                "name": "BNP Paribas Masters, Qualification Male Single draw",
                "type": "Male Single",
                "updated": "2014-11-19T00:00:23Z",
                "stage": {
                  "id": 837828,
                  "name": "BNP Paribas Masters, Qualification",
                  "gender": "male",
                  "start": "2015-10-30",
                  "end": "2015-11-01",
                  "country": {
                    "id": 5,
                    "name": "France"
                  }
                },
                "season": {
                  "id": 8986,
                  "name": "2015"
                },
                "tournament": {
                  "id": 156,
                  "name": "ATP",
                  "gender": "male"
                },
                "sport": {
                  "id": 2,
                  "name": "Tennis"
                },
                "rounds": [
                  {
                    "id": 13,
                    "name": "1/12 (Special Qual)",
                    "knockout": true,
                    "events": [
                      {
                        "id": 2133215,
                        "name": "Aljaz Bedene-Gregoire Barrere",
                        "order": 1,
                        "date": "2015-10-31T11:00:00Z",
                        "entrants": [
                          {
                            "number": 1,
                            "participant": {
                              "id": 185131,
                              "name": "Aljaz Bedene",
                              "firstName": "Aljaz",
                              "lastName": "Bedene",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 2,
                                "name": "England"
                              }
                            }
                          },
                          {
                            "number": 2,
                            "participant": {
                              "id": 313143,
                              "name": "Gregoire Barrere",
                              "firstName": "Gregoire",
                              "lastName": "Barrere",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 5,
                                "name": "France"
                              }
                            }
                          }
                        ]
                      },
                      {
                        "id": 2133216,
                        "name": "Ivan Dodig-Jerzy Janowicz",
                        "order": 2,
                        "date": "2015-10-31T11:00:00Z",
                        "entrants": [
                          {
                            "number": 1,
                            "participant": {
                              "id": 68251,
                              "name": "Ivan Dodig",
                              "firstName": "Ivan",
                              "lastName": "Dodig",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 44,
                                "name": "Croatia"
                              }
                            }
                          },
                          {
                            "number": 2,
                            "participant": {
                              "id": 112698,
                              "name": "Jerzy Janowicz",
                              "firstName": "Jerzy",
                              "lastName": "Janowicz",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 47,
                                "name": "Poland"
                              }
                            }
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "id": 14,
                    "name": "1/6 (Special Qual)",
                    "knockout": true,
                    "events": [
                      {
                        "id": 2133564,
                        "name": "Aljaz Bedene-Jerzy Janowicz",
                        "order": 1,
                        "date": "2015-11-01T11:00:00Z",
                        "entrants": [
                          {
                            "number": 1,
                            "participant": {
                              "id": 185131,
                              "name": "Aljaz Bedene",
                              "firstName": "Aljaz",
                              "lastName": "Bedene",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 2,
                                "name": "England"
                              }
                            }
                          },
                          {
                            "number": 2,
                            "participant": {
                              "id": 112698,
                              "name": "Jerzy Janowicz",
                              "firstName": "Jerzy",
                              "lastName": "Janowicz",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 47,
                                "name": "Poland"
                              }
                            }
                          }
                        ]
                      }
                    ]
                  }
                ],
                "meta": {
                  "start-round-fk": {
                    "code": "draw:start-round-fk",
                    "name": "Start Round FK",
                    "value": "13"
                  },
                  "end-round-fk": {
                    "code": "draw:end-round-fk",
                    "name": "End Round FK",
                    "value": "14"
                  },
                  "regular-set-count": {
                    "code": "draw:regular-set-count",
                    "name": "Regular Set Count",
                    "value": "3"
                  },
                  "final-set-count": {
                    "code": "draw:final-set-count",
                    "name": "Final Set Count",
                    "value": "3"
                  },
                  "default-start-time": {
                    "code": "draw:default-start-time",
                    "name": "Default Start Time",
                    "value": "11:00:00"
                  },
                  "live": {
                    "code": "draw:live",
                    "name": "Live",
                    "value": "yes"
                  },
                  "last-set-tiebreak": {
                    "code": "draw:last-set-tiebreak",
                    "name": "Last Set Tiebreak",
                    "value": "yes"
                  },
                  "no-deuce-advantage": {
                    "code": "draw:no-deuce-advantage",
                    "name": "No Deuce Advantage",
                    "value": "no"
                  },
                  "point-by-point": {
                    "code": "draw:point-by-point",
                    "name": "Point By Point",
                    "value": "13"
                  }
                },
                "links": [
                  {
                    "rel": "self",
                    "href": "http://sport-uat.api.press.net/v1/draw/6376"
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/draw/6376" document-class="pa:draw-detail">
                      <sports-title>BNP Paribas Masters, Qualification Male Single draw</sports-title>
                  </pa:sports-metadata>
                  <pa:tournament id="tournament.156">
                      <tournament-division id="season.8986">
                          <tournament-part id="stage.837828">
                              <tournament-part id="draw.6376">
                                  <tournament-part-metadata key="draw:6376" type="pa:draw">
                                      <sports-content-codes>
                                          <sports-content-code code-type="pa:sport" code-key="sport:2" code-name="Tennis"/>
                                          <sports-content-code code-type="pa:gender" code-key="gender:male" code-name="male"/>
                                          <sports-content-code code-type="pa:tournament" code-key="tournament:156" code-name="ATP"/>
                                          <sports-content-code code-type="pa:season" code-key="season:8986" code-name="2015"/>
                                          <sports-content-code code-type="pa:stage" code-key="stage:837828" code-name="BNP Paribas Masters, Qualification"/>
                                          <sports-content-code code-type="pa:draw" code-key="draw:6376" code-name="BNP Paribas Masters, Qualification Male Single draw"/>
                                      </sports-content-codes>
                                      <sports-property formal-name="draw:start-round-fk" value="13"/>
                                      <sports-property formal-name="draw:end-round-fk" value="14"/>
                                      <sports-property formal-name="draw:regular-set-count" value="3"/>
                                      <sports-property formal-name="draw:final-set-count" value="3"/>
                                      <sports-property formal-name="draw:default-start-time" value="11:00:00"/>
                                      <sports-property formal-name="draw:live" value="yes"/>
                                      <sports-property formal-name="draw:last-set-tiebreak" value="yes"/>
                                      <sports-property formal-name="draw:no-deuce-advantage" value="no"/>
                                      <sports-property formal-name="draw:point-by-point" value="13"/>
                                      <sports-property formal-name="common:updated" value="2014-11-19T00:00:23Z"/>
                                      <name>BNP Paribas Masters, Qualification Male Single draw</name>
                                  </tournament-part-metadata>
                                  <tournament-part id="round.13">
                                      <tournament-part-metadata key="round:13" type="pa:round" number="13">
                                          <sports-property formal-name="round:knockout" value="true"/>
                                          <name>1/12 (Special Qual)</name>
                                      </tournament-part-metadata>
                                      <sports-event id="event.2133215">
                                          <event-metadata key="event:2133215" event-number="1" start-date-time="2015-10-31T11:00:00+00:00"></event-metadata>
                                          <player>
                                              <player-metadata key="player:185131" gender="male" nationality="England">
                                                  <name>Aljaz Bedene</name>
                                              </player-metadata>
                                          </player>
                                          <player>
                                              <player-metadata key="player:313143" gender="male" nationality="France">
                                                  <name>Gregoire Barrere</name>
                                              </player-metadata>
                                          </player>
                                      </sports-event>
                                      <sports-event id="event.2133216">
                                          <event-metadata key="event:2133216" event-number="2" start-date-time="2015-10-31T11:00:00+00:00"></event-metadata>
                                          <player>
                                              <player-metadata key="player:68251" gender="male" nationality="Croatia">
                                                  <name>Ivan Dodig</name>
                                              </player-metadata>
                                          </player>
                                          <player>
                                              <player-metadata key="player:112698" gender="male" nationality="Poland">
                                                  <name>Jerzy Janowicz</name>
                                              </player-metadata>
                                          </player>
                                      </sports-event>
                                  </tournament-part>
                                  <tournament-part id="round.14">
                                      <tournament-part-metadata key="round:14" type="pa:round" number="14">
                                          <sports-property formal-name="round:knockout" value="true"/>
                                          <name>1/6 (Special Qual)</name>
                                      </tournament-part-metadata>
                                      <sports-event id="event.2133564">
                                          <event-metadata key="event:2133564" event-number="1" start-date-time="2015-11-01T11:00:00+00:00"></event-metadata>
                                          <player>
                                              <player-metadata key="player:185131" gender="male" nationality="England">
                                                  <name>Aljaz Bedene</name>
                                              </player-metadata>
                                          </player>
                                          <player>
                                              <player-metadata key="player:112698" gender="male" nationality="Poland">
                                                  <name>Jerzy Janowicz</name>
                                              </player-metadata>
                                          </player>
                                      </sports-event>
                                  </tournament-part>
                              </tournament-part>
                          </tournament-part>
                      </tournament-division>
                  </pa:tournament>
              </pa:sports-content>
  /event:
    get:
      description: >-
        Return a collection of events. One request parameter is required unless
        the combination of country and sport is used.
      tags:
        - Event
      operationId: listEvents
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseParentId'
          name: sport
          description: The Sport Id for the event selection.
        - $ref: '#/parameters/baseParentId'
          name: country
          description: The Country Id for the event selection.
        - $ref: '#/parameters/baseParentId'
          name: tournament
          description: The Tournament Id for the event selection.
        - $ref: '#/parameters/baseParentId'
          name: season
          description: The Season Id for the event selection.
        - $ref: '#/parameters/baseParentId'
          name: stage
          description: The stage Id for the event selection.
        - $ref: '#/parameters/baseDate'
          name: start
        - $ref: '#/parameters/baseDate'
          name: end
        - $ref: '#/parameters/limit'
          maximum: 20
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/event/{eventId}':
    get:
      description: Return the event's details.
      tags:
        - Event
      operationId: getEvent
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: eventId
          description: The identifier for the event requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/event/{eventId}/actions':
    get:
      description: Return the event's actions.
      tags:
        - Event
      operationId: getEventActions
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: eventId
          description: The identifier for the event requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/event/{eventId}/composition':
    get:
      description: Return the event composition.
      tags:
        - Event
      operationId: getEventComposition
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: eventId
          description: The identifier for the event requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/participant/{participantId}':
    get:
      description: Return the participant's details.
      tags:
        - Participant
      operationId: getParticipant
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: participantId
          description: The identifier for the participant requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
  /season:
    get:
      description: Return a collection of seasons.
      tags:
        - Season
      operationId: listSeasons
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseParentId'
          name: tournament
          description: The Tournament Id for the event selection.
        - $ref: '#/parameters/limit'
          maximum: 30
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/season/{seasonId}':
    get:
      description: Return the season's details.
      tags:
        - Season
      operationId: getSeason
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: seasonId
          description: The identifier for the season requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
  /sport:
    get:
      description: Return a collection of sports.
      tags:
        - Sport
      operationId: listSports
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/limit'
          maximum: 30
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/sport/{sportId}':
    get:
      description: Return the standing's details.
      tags:
        - Sport
      operationId: getSport
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: sportId
          description: The identifier for the sport requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
  /standing:
    get:
      description: |
        Return a collection of standings.

        - One of: sport,
        tournament, season, stage, participant, event should be supplied
      tags:
        - Standing
      operationId: listStandings
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseDate'
          name: start
        - $ref: '#/parameters/baseDate'
          name: end
        - $ref: '#/parameters/baseParentId'
          name: sport
          description: The Sport Id for the standings selection.
        - $ref: '#/parameters/baseParentId'
          name: tournament
          description: The Tournament Id for the standings selection.
        - $ref: '#/parameters/baseParentId'
          name: season
          description: The Season Id for the standings selection.
        - $ref: '#/parameters/baseParentId'
          name: stage
          description: The Stage Id for the standings selection.
        - $ref: '#/parameters/baseParentId'
          name: event
          description: The Event Id for the standings selection.
        - $ref: '#/parameters/baseParentId'
          name: participant
          description: The Participant Id for the standings selection.
        - $ref: '#/parameters/limit'
          maximum: 20
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/standing/{standingId}':
    get:
      description: Return the standing's details.
      tags:
        - Standing
      operationId: getStanding
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: standingId
          description: The identifier for the standing requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
  /stage:
    get:
      description: |
        Return a collection of stages.

        - At least one of sport
        or season must be supplied
      tags:
        - Stage
      operationId: getStages
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseDate'
          name: start
        - $ref: '#/parameters/baseDate'
          name: end
        - $ref: '#/parameters/baseParentId'
          name: sport
          description: The Sport Id for the stage selection.
        - $ref: '#/parameters/baseParentId'
          name: season
          description: The Season Id for the stage selection.
        - $ref: '#/parameters/limit'
          maximum: 50
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/stage/{stageId}':
    get:
      description: Return the stage's details.
      tags:
        - Stage
      operationId: getStage
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: stageId
          description: The identifier for the stage requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
  /tournament:
    get:
      description: Return a collection of tournaments.
      tags:
        - Tournament
      operationId: listTournament
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseParentId'
          name: sport
          description: The Sport Id for the tournament selection.
        - $ref: '#/parameters/limit'
          maximum: 50
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/tournament/{tournamentId}':
    get:
      description: Return the tournament's details.
      tags:
        - Tournament
      operationId: getTournament
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: tournamentId
          description: The identifier for the tournament requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/venue/{venueId}':
    get:
      description: Return the venue's details.
      tags:
        - Venue
      operationId: getVenue
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: venueId
          description: The identifier for the venue requested.
      responses:
        '200':
          description: ''
          schema:
            type: object

definitions:
  Country:
    type: "object"
    required:
      - "id"
      - "name"
    properties:
      id:
        type: "integer"
      name:
        type: "string"

parameters:
  Accept:
    name: Accept
    in: header
    required: true
    type: string
    enum:
      - application/json
      - application/xml
    description: The response format.
  baseParentId:
    name: baseParentId
    in: query
    required: false
    type: integer
    format: int32
    description: The identifier of the parent entity whose children are requested.
    x-example: 415
  baseDate:
    name: baseDate
    in: query
    required: false
    type: string
    format: 'date-time'
    x-example: 2014-04-17
    description: >-
      Limit the entities to ones within the specified range.
      The 'end' parameter is typically used in combination with the 'start' param to form a date range.

      Formats Supported:
       'YYYY-MM-DD'
       'YYYY-MM-DD[T]HH:mm:ssZ'
       'YYYY-MM-DD[T]HH:mm:ss.SSSZ'
       'YYYY-MM-DD[T]HH:mm:ss'
       'YYYY-MM-DD[T]HH:mm'
       'now'
       'today'
       'tomorrow'
       'now.plus.n'
       'now.minus.n'
  baseEntityId:
    name: baseEntityId
    in: path
    required: true
    type: integer
    format: int32
    description: The identifier for the entity requested.
    x-example: 4713
  limit:
    name: limit
    in: query
    required: false
    type: integer
    format: int32
    default: 20
    x-example: 5
    description: >-
      Limit the the number of items to be returned per page.
      The 'limit' parameter is typically used with the 'offset' parameter to facilitate pagination.
  offset:
    name: offset
    in: query
    required: false
    default: 0
    type: integer
    format: int32
    x-example: 50
    description: >-
      The offset of the first item to be returned.
      The 'offset' parameter is typically used with the 'limit' parameter to facilitate pagination.
