swagger: '2.0'
info:
  version: '1.0'
  title: Sport API
  description: Welcome to the Press Association Sport API Developer Documentation.
host: sport.api.press.net
basePath: /v1
securityDefinitions:
  apikey:
    type: apiKey
    name: apikey
    in: header
schemes:
  - https
  - http
produces:
  - application/json
  - application/xml
paths:
  /:
    get:
      description: >-
        Return a collection of available resources. This endpoint is for navigation of the API only.
        Some of the endpoints are not navigable without suppling the required parameters in with the request.
      operationId: getResources
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "links": [
                  {
                    "rel": "self",
                    "href": "http://sport-uat.api.press.net/v1"
                  },
                  {
                    "rel": "sport-collection",
                    "href": "http://sport-uat.api.press.net/v1/sport"
                  }
                ]
              }
  /country:
    get:
      description: Return a collection of countries.
      tags:
        - Country
      operationId: listCountries
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/limit'
          maximum: 100
        - $ref: '#/parameters/offset'
      responses:
        "200":
          description: "Country Collection Response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Country"
          examples:
            application/json: |-
              {
                "offset": 0,
                "limit": 20,
                "hasNext": true,
                "hasPrevious": false,
                "items": [
                  {
                    "id": 4,
                    "name": "England",
                    "updated": "2017-01-01T00:00:00Z"
                    "meta": {
                      "iso-code": {
                        "code": "country:iso-code",
                        "name": "Iso Code",
                        "value": "GBR"
                      }
                    },
                    "links": [
                      {
                        "rel": "self",
                        "href": "http://sport-uat.api.press.net/v1/country/2"
                      }
                    ]
                  }
                ]
              }
            application/xml: |-
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/country" document-class="pa:country-collection">
                  <sports-property formal-name="hasNext" value="true"/>
                  <sports-property formal-name="hasPrevious" value="false"/>
                  <sports-property formal-name="limit" value="20"/>
                  <sports-property formal-name="offset" value="0"/>
                </pa:sports-metadata>
                <pa:country id="country.174">
                  <pa:country-metadata>
                    <sports-content-codes>
                      <sports-content-code code-type="pa:country" code-key="country:174" code-name="Afghanistan"/>
                    </sports-content-codes>
                    <sports-property formal-name="country:iso-code" value="AFG"/>
                    <sports-property formal-name="common:updated" value="2014-04-30T10:27:29Z"/>
                    <name>Afghanistan</name>
                  </pa:country-metadata>
                </pa:country>
              </pa:sports-content>
  '/country/{countryId}':
    get:
      description: Return the country's details.
      tags:
        - Country
      operationId: getCountry
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: countryId
          description: The identifier for the country requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": 2,
                "name": "England",
                "updated": "2015-10-20T14:15:46Z",
                "meta": {
                  "iso-code": {
                    "code": "country:iso-code",
                    "name": "Iso Code",
                    "value": "GBR"
                  }
                },
                "links": [
                  {
                    "rel": "self",
                    "href": "http://sport-uat.api.press.net/v1/country/2"
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/country/2" document-class="pa:country-detail"></pa:sports-metadata>
                  <pa:country id="country.2">
                      <pa:country-metadata>
                          <sports-content-codes>
                              <sports-content-code code-type="pa:country" code-key="country:2" code-name="England"/>
                          </sports-content-codes>
                          <sports-property formal-name="country:iso-code" value="GBR"/>
                          <sports-property formal-name="common:updated" value="2015-10-20T14:15:46Z"/>
                          <name>England</name>
                      </pa:country-metadata>
                  </pa:country>
              </pa:sports-content>
  /draw:
    get:
      description: Return a collection of draws.
      tags:
        - Draw
      operationId: listDraws
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseParentId'
          name: stage
          required: true
          description: The Stage Id for the draw selection.
        - $ref: '#/parameters/limit'
          maximum: 30
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "offset": 0,
                "limit": 20,
                "hasNext": false,
                "hasPrevious": false,
                "items": [
                  {
                    "id": 6376,
                    "name": "BNP Paribas Masters, Qualification Male Single draw",
                    "type": "Male Single",
                    "updated": "2014-11-19T00:00:23Z",
                    "stage": {
                      "id": 837828,
                      "name": "BNP Paribas Masters, Qualification",
                      "gender": "male",
                      "start": "2015-10-30",
                      "end": "2015-11-01",
                      "country": {
                        "id": 5,
                        "name": "France"
                      }
                    },
                    "season": {
                      "id": 8986,
                      "name": "2015"
                    },
                    "tournament": {
                      "id": 156,
                      "name": "ATP",
                      "gender": "male"
                    },
                    "sport": {
                      "id": 2,
                      "name": "Tennis"
                    },
                    "links": [
                      {
                        "rel": "self",
                        "href": "http://sport-uat.api.press.net/v1/draw/6376"
                      }
                    ]
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/draw?stage=837828" document-class="pa:draw-collection">
                      <sports-property formal-name="hasNext" value="false"/>
                      <sports-property formal-name="hasPrevious" value="false"/>
                      <sports-property formal-name="limit" value="20"/>
                      <sports-property formal-name="offset" value="0"/>
                  </pa:sports-metadata>
                  <pa:tournament id="tournament.156">
                      <tournament-division id="season.8986">
                          <tournament-part id="stage.837828">
                              <tournament-part id="draw.6376">
                                  <tournament-part-metadata key="draw:6376" type="pa:draw">
                                      <sports-content-codes>
                                          <sports-content-code code-type="pa:sport" code-key="sport:2" code-name="Tennis"/>
                                          <sports-content-code code-type="pa:gender" code-key="gender:male" code-name="male"/>
                                          <sports-content-code code-type="pa:tournament" code-key="tournament:156" code-name="ATP"/>
                                          <sports-content-code code-type="pa:season" code-key="season:8986" code-name="2015"/>
                                          <sports-content-code code-type="pa:stage" code-key="stage:837828" code-name="BNP Paribas Masters, Qualification"/>
                                          <sports-content-code code-type="pa:draw" code-key="draw:6376" code-name="BNP Paribas Masters, Qualification Male Single draw"/>
                                      </sports-content-codes>
                                      <sports-property formal-name="common:updated" value="2014-11-19T00:00:23Z"/>
                                      <name>BNP Paribas Masters, Qualification Male Single draw</name>
                                  </tournament-part-metadata>
                              </tournament-part>
                          </tournament-part>
                      </tournament-division>
                  </pa:tournament>
              </pa:sports-content>
  '/draw/{drawId}':
    get:
      description: Return the draw's details.
      tags:
        - Draw
      operationId: getDraw
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: drawId
          description: The identifier for the draw requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": 6376,
                "name": "BNP Paribas Masters, Qualification Male Single draw",
                "type": "Male Single",
                "updated": "2014-11-19T00:00:23Z",
                "stage": {
                  "id": 837828,
                  "name": "BNP Paribas Masters, Qualification",
                  "gender": "male",
                  "start": "2015-10-30",
                  "end": "2015-11-01",
                  "country": {
                    "id": 5,
                    "name": "France"
                  }
                },
                "season": {
                  "id": 8986,
                  "name": "2015"
                },
                "tournament": {
                  "id": 156,
                  "name": "ATP",
                  "gender": "male"
                },
                "sport": {
                  "id": 2,
                  "name": "Tennis"
                },
                "rounds": [
                  {
                    "id": 13,
                    "name": "1/12 (Special Qual)",
                    "knockout": true,
                    "events": [
                      {
                        "id": 2133215,
                        "name": "Aljaz Bedene-Gregoire Barrere",
                        "order": 1,
                        "date": "2015-10-31T11:00:00Z",
                        "entrants": [
                          {
                            "number": 1,
                            "participant": {
                              "id": 185131,
                              "name": "Aljaz Bedene",
                              "firstName": "Aljaz",
                              "lastName": "Bedene",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 2,
                                "name": "England"
                              }
                            }
                          },
                          {
                            "number": 2,
                            "participant": {
                              "id": 313143,
                              "name": "Gregoire Barrere",
                              "firstName": "Gregoire",
                              "lastName": "Barrere",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 5,
                                "name": "France"
                              }
                            }
                          }
                        ]
                      },
                      {
                        "id": 2133216,
                        "name": "Ivan Dodig-Jerzy Janowicz",
                        "order": 2,
                        "date": "2015-10-31T11:00:00Z",
                        "entrants": [
                          {
                            "number": 1,
                            "participant": {
                              "id": 68251,
                              "name": "Ivan Dodig",
                              "firstName": "Ivan",
                              "lastName": "Dodig",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 44,
                                "name": "Croatia"
                              }
                            }
                          },
                          {
                            "number": 2,
                            "participant": {
                              "id": 112698,
                              "name": "Jerzy Janowicz",
                              "firstName": "Jerzy",
                              "lastName": "Janowicz",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 47,
                                "name": "Poland"
                              }
                            }
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "id": 14,
                    "name": "1/6 (Special Qual)",
                    "knockout": true,
                    "events": [
                      {
                        "id": 2133564,
                        "name": "Aljaz Bedene-Jerzy Janowicz",
                        "order": 1,
                        "date": "2015-11-01T11:00:00Z",
                        "entrants": [
                          {
                            "number": 1,
                            "participant": {
                              "id": 185131,
                              "name": "Aljaz Bedene",
                              "firstName": "Aljaz",
                              "lastName": "Bedene",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 2,
                                "name": "England"
                              }
                            }
                          },
                          {
                            "number": 2,
                            "participant": {
                              "id": 112698,
                              "name": "Jerzy Janowicz",
                              "firstName": "Jerzy",
                              "lastName": "Janowicz",
                              "gender": "male",
                              "type": "athlete",
                              "country": {
                                "id": 47,
                                "name": "Poland"
                              }
                            }
                          }
                        ]
                      }
                    ]
                  }
                ],
                "meta": {
                  "start-round-fk": {
                    "code": "draw:start-round-fk",
                    "name": "Start Round FK",
                    "value": "13"
                  },
                  "end-round-fk": {
                    "code": "draw:end-round-fk",
                    "name": "End Round FK",
                    "value": "14"
                  },
                  "regular-set-count": {
                    "code": "draw:regular-set-count",
                    "name": "Regular Set Count",
                    "value": "3"
                  },
                  "final-set-count": {
                    "code": "draw:final-set-count",
                    "name": "Final Set Count",
                    "value": "3"
                  },
                  "default-start-time": {
                    "code": "draw:default-start-time",
                    "name": "Default Start Time",
                    "value": "11:00:00"
                  },
                  "live": {
                    "code": "draw:live",
                    "name": "Live",
                    "value": "yes"
                  },
                  "last-set-tiebreak": {
                    "code": "draw:last-set-tiebreak",
                    "name": "Last Set Tiebreak",
                    "value": "yes"
                  },
                  "no-deuce-advantage": {
                    "code": "draw:no-deuce-advantage",
                    "name": "No Deuce Advantage",
                    "value": "no"
                  },
                  "point-by-point": {
                    "code": "draw:point-by-point",
                    "name": "Point By Point",
                    "value": "13"
                  }
                },
                "links": [
                  {
                    "rel": "self",
                    "href": "http://sport-uat.api.press.net/v1/draw/6376"
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/draw/6376" document-class="pa:draw-detail">
                      <sports-title>BNP Paribas Masters, Qualification Male Single draw</sports-title>
                  </pa:sports-metadata>
                  <pa:tournament id="tournament.156">
                      <tournament-division id="season.8986">
                          <tournament-part id="stage.837828">
                              <tournament-part id="draw.6376">
                                  <tournament-part-metadata key="draw:6376" type="pa:draw">
                                      <sports-content-codes>
                                          <sports-content-code code-type="pa:sport" code-key="sport:2" code-name="Tennis"/>
                                          <sports-content-code code-type="pa:gender" code-key="gender:male" code-name="male"/>
                                          <sports-content-code code-type="pa:tournament" code-key="tournament:156" code-name="ATP"/>
                                          <sports-content-code code-type="pa:season" code-key="season:8986" code-name="2015"/>
                                          <sports-content-code code-type="pa:stage" code-key="stage:837828" code-name="BNP Paribas Masters, Qualification"/>
                                          <sports-content-code code-type="pa:draw" code-key="draw:6376" code-name="BNP Paribas Masters, Qualification Male Single draw"/>
                                      </sports-content-codes>
                                      <sports-property formal-name="draw:start-round-fk" value="13"/>
                                      <sports-property formal-name="draw:end-round-fk" value="14"/>
                                      <sports-property formal-name="draw:regular-set-count" value="3"/>
                                      <sports-property formal-name="draw:final-set-count" value="3"/>
                                      <sports-property formal-name="draw:default-start-time" value="11:00:00"/>
                                      <sports-property formal-name="draw:live" value="yes"/>
                                      <sports-property formal-name="draw:last-set-tiebreak" value="yes"/>
                                      <sports-property formal-name="draw:no-deuce-advantage" value="no"/>
                                      <sports-property formal-name="draw:point-by-point" value="13"/>
                                      <sports-property formal-name="common:updated" value="2014-11-19T00:00:23Z"/>
                                      <name>BNP Paribas Masters, Qualification Male Single draw</name>
                                  </tournament-part-metadata>
                                  <tournament-part id="round.13">
                                      <tournament-part-metadata key="round:13" type="pa:round" number="13">
                                          <sports-property formal-name="round:knockout" value="true"/>
                                          <name>1/12 (Special Qual)</name>
                                      </tournament-part-metadata>
                                      <sports-event id="event.2133215">
                                          <event-metadata key="event:2133215" event-number="1" start-date-time="2015-10-31T11:00:00+00:00"></event-metadata>
                                          <player>
                                              <player-metadata key="player:185131" gender="male" nationality="England">
                                                  <name>Aljaz Bedene</name>
                                              </player-metadata>
                                          </player>
                                          <player>
                                              <player-metadata key="player:313143" gender="male" nationality="France">
                                                  <name>Gregoire Barrere</name>
                                              </player-metadata>
                                          </player>
                                      </sports-event>
                                      <sports-event id="event.2133216">
                                          <event-metadata key="event:2133216" event-number="2" start-date-time="2015-10-31T11:00:00+00:00"></event-metadata>
                                          <player>
                                              <player-metadata key="player:68251" gender="male" nationality="Croatia">
                                                  <name>Ivan Dodig</name>
                                              </player-metadata>
                                          </player>
                                          <player>
                                              <player-metadata key="player:112698" gender="male" nationality="Poland">
                                                  <name>Jerzy Janowicz</name>
                                              </player-metadata>
                                          </player>
                                      </sports-event>
                                  </tournament-part>
                                  <tournament-part id="round.14">
                                      <tournament-part-metadata key="round:14" type="pa:round" number="14">
                                          <sports-property formal-name="round:knockout" value="true"/>
                                          <name>1/6 (Special Qual)</name>
                                      </tournament-part-metadata>
                                      <sports-event id="event.2133564">
                                          <event-metadata key="event:2133564" event-number="1" start-date-time="2015-11-01T11:00:00+00:00"></event-metadata>
                                          <player>
                                              <player-metadata key="player:185131" gender="male" nationality="England">
                                                  <name>Aljaz Bedene</name>
                                              </player-metadata>
                                          </player>
                                          <player>
                                              <player-metadata key="player:112698" gender="male" nationality="Poland">
                                                  <name>Jerzy Janowicz</name>
                                              </player-metadata>
                                          </player>
                                      </sports-event>
                                  </tournament-part>
                              </tournament-part>
                          </tournament-part>
                      </tournament-division>
                  </pa:tournament>
              </pa:sports-content>
  /event:
    get:
      description: >-
        Return a collection of events. One request parameter is required unless
        the combination of country and sport is used.
      tags:
        - Event
      operationId: listEvents
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseParentId'
          name: sport
          description: The Sport Id for the event selection.
        - $ref: '#/parameters/baseParentId'
          name: country
          description: The Country Id for the event selection.
        - $ref: '#/parameters/baseParentId'
          name: tournament
          description: The Tournament Id for the event selection.
        - $ref: '#/parameters/baseParentId'
          name: season
          description: The Season Id for the event selection.
        - $ref: '#/parameters/baseParentId'
          name: stage
          description: The stage Id for the event selection.
        - $ref: '#/parameters/baseDate'
          name: start
        - $ref: '#/parameters/baseDate'
          name: end
        - $ref: '#/parameters/limit'
          maximum: 20
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "offset": 0,
                "limit": 2,
                "hasNext": true,
                "hasPrevious": false,
                "items": [
                  {
                    "id": 2489667,
                    "name": "Oscar Otte-Di Wu",
                    "status": "Finished",
                    "date": "2017-04-21T03:05:00Z",
                    "updated": "2017-04-21T04:01:44Z",
                    "entrants": [
                      {
                        "id": 8256448,
                        "number": 1,
                        "participant": {
                          "id": 292384,
                          "name": "Oscar Otte",
                          "firstName": "Oscar",
                          "lastName": "Otte",
                          "gender": "male",
                          "type": "athlete",
                          "country": {
                            "id": 3,
                            "name": "Germany"
                          }
                        },
                        "results": {
                          "final-result": {
                            "code": "result:final-result",
                            "name": "Final Result",
                            "value": "won"
                          },
                          "game-score": {
                            "code": "result:game-score",
                            "name": "Game Score",
                            "value": ""
                          },
                          "running-score": {
                            "code": "result:running-score",
                            "name": "Running Score",
                            "value": "2"
                          },
                          "set-1": {
                            "code": "result:set-1",
                            "name": "Set 1",
                            "value": "6"
                          },
                          "set-2": {
                            "code": "result:set-2",
                            "name": "Set 2",
                            "value": "6"
                          },
                          "won-sets": {
                            "code": "result:won-sets",
                            "name": "Won Sets",
                            "value": "2"
                          }
                        }
                      },
                      {
                        "id": 8256449,
                        "number": 2,
                        "participant": {
                          "id": 112773,
                          "name": "Di Wu",
                          "firstName": "Di",
                          "lastName": "Wu",
                          "gender": "male",
                          "type": "athlete",
                          "country": {
                            "id": 125,
                            "name": "China"
                          }
                        },
                        "results": {
                          "final-result": {
                            "code": "result:final-result",
                            "name": "Final Result",
                            "value": "lost"
                          },
                          "game-score": {
                            "code": "result:game-score",
                            "name": "Game Score",
                            "value": ""
                          },
                          "running-score": {
                            "code": "result:running-score",
                            "name": "Running Score",
                            "value": "0"
                          },
                          "set-1": {
                            "code": "result:set-1",
                            "name": "Set 1",
                            "value": "0"
                          },
                          "set-2": {
                            "code": "result:set-2",
                            "name": "Set 2",
                            "value": "1"
                          },
                          "won-sets": {
                            "code": "result:won-sets",
                            "name": "Won Sets",
                            "value": "0"
                          }
                        }
                      }
                    ],
                    "round": {
                      "id": 3,
                      "name": "Quarter Finals",
                      "knockout": true
                    },
                    "stage": {
                      "id": 848471,
                      "name": "Qingdao",
                      "gender": "male",
                      "start": "2017-04-16",
                      "end": "2017-04-23",
                      "country": {
                        "id": 125,
                        "name": "China"
                      }
                    },
                    "season": {
                      "id": 11091,
                      "name": "2017"
                    },
                    "tournament": {
                      "id": 157,
                      "name": "Challenger",
                      "gender": "male"
                    },
                    "sport": {
                      "id": 2,
                      "name": "Tennis"
                    },
                    "meta": {
                      "comment": {
                        "code": "event:comment",
                        "name": "Comment",
                        "value": "None"
                      },
                      "event-type-name": {
                        "code": "event:event-type-name",
                        "name": "Event Type Name",
                        "value": "Male Single"
                      },
                      "firsttoserve": {
                        "code": "event:firsttoserve",
                        "name": "Firsttoserve",
                        "value": "a"
                      },
                      "game-ended": {
                        "code": "event:game-ended",
                        "name": "Game Ended",
                        "value": "2017-04-21T03:59:28Z"
                      },
                      "game-started": {
                        "code": "event:game-started",
                        "name": "Game Started",
                        "value": "2017-04-21T03:08:17Z"
                      },
                      "last-set-tiebreak": {
                        "code": "event:last-set-tiebreak",
                        "name": "Last Set Tiebreak",
                        "value": "yes"
                      },
                      "live": {
                        "code": "event:live",
                        "name": "Live",
                        "value": "yes"
                      },
                      "point-by-point": {
                        "code": "event:point-by-point",
                        "name": "Point By Point",
                        "value": "yes"
                      },
                      "sets": {
                        "code": "event:sets",
                        "name": "Sets",
                        "value": "3"
                      },
                      "tennis-round-number": {
                        "code": "event:tennis-round-number",
                        "name": "Tennis Round Number",
                        "value": "6002"
                      },
                      "winner": {
                        "code": "event:winner",
                        "name": "Winner",
                        "value": "a"
                      }
                    },
                    "links": [
                      {
                        "rel": "self",
                        "href": "http://sport-uat.api.press.net/v1/event/2489667"
                      },
                      {
                        "rel": "event-composition",
                        "href": "http://sport-uat.api.press.net/v1/event/2489667/composition"
                      }
                    ]
                  },
                  {
                    "id": 2489661,
                    "name": "Jordan Thompson-Quentin Halys",
                    "status": "Finished",
                    "date": "2017-04-21T03:10:00Z",
                    "updated": "2017-04-21T04:24:46Z",
                    "entrants": [
                      {
                        "id": 8256436,
                        "number": 1,
                        "participant": {
                          "id": 420223,
                          "name": "Jordan Thompson",
                          "firstName": "Jordan",
                          "lastName": "Thompson",
                          "gender": "male",
                          "type": "athlete",
                          "country": {
                            "id": 39,
                            "name": "Australia"
                          }
                        },
                        "results": {
                          "final-result": {
                            "code": "result:final-result",
                            "name": "Final Result",
                            "value": "lost"
                          },
                          "game-score": {
                            "code": "result:game-score",
                            "name": "Game Score",
                            "value": ""
                          },
                          "running-score": {
                            "code": "result:running-score",
                            "name": "Running Score",
                            "value": "0"
                          },
                          "set-1": {
                            "code": "result:set-1",
                            "name": "Set 1",
                            "value": "4"
                          },
                          "set-2": {
                            "code": "result:set-2",
                            "name": "Set 2",
                            "value": "1"
                          },
                          "won-sets": {
                            "code": "result:won-sets",
                            "name": "Won Sets",
                            "value": "0"
                          }
                        }
                      },
                      {
                        "id": 8256437,
                        "number": 2,
                        "participant": {
                          "id": 385566,
                          "name": "Quentin Halys",
                          "firstName": "Quentin",
                          "lastName": "Halys",
                          "gender": "male",
                          "type": "athlete",
                          "country": {
                            "id": 5,
                            "name": "France"
                          }
                        },
                        "results": {
                          "final-result": {
                            "code": "result:final-result",
                            "name": "Final Result",
                            "value": "won"
                          },
                          "game-score": {
                            "code": "result:game-score",
                            "name": "Game Score",
                            "value": ""
                          },
                          "running-score": {
                            "code": "result:running-score",
                            "name": "Running Score",
                            "value": "2"
                          },
                          "set-1": {
                            "code": "result:set-1",
                            "name": "Set 1",
                            "value": "6"
                          },
                          "set-2": {
                            "code": "result:set-2",
                            "name": "Set 2",
                            "value": "6"
                          },
                          "won-sets": {
                            "code": "result:won-sets",
                            "name": "Won Sets",
                            "value": "2"
                          }
                        }
                      }
                    ],
                    "round": {
                      "id": 3,
                      "name": "Quarter Finals",
                      "knockout": true
                    },
                    "stage": {
                      "id": 848471,
                      "name": "Qingdao",
                      "gender": "male",
                      "start": "2017-04-16",
                      "end": "2017-04-23",
                      "country": {
                        "id": 125,
                        "name": "China"
                      }
                    },
                    "season": {
                      "id": 11091,
                      "name": "2017"
                    },
                    "tournament": {
                      "id": 157,
                      "name": "Challenger",
                      "gender": "male"
                    },
                    "sport": {
                      "id": 2,
                      "name": "Tennis"
                    },
                    "meta": {
                      "comment": {
                        "code": "event:comment",
                        "name": "Comment",
                        "value": "None"
                      },
                      "event-type-name": {
                        "code": "event:event-type-name",
                        "name": "Event Type Name",
                        "value": "Male Single"
                      },
                      "firsttoserve": {
                        "code": "event:firsttoserve",
                        "name": "Firsttoserve",
                        "value": "b"
                      },
                      "game-ended": {
                        "code": "event:game-ended",
                        "name": "Game Ended",
                        "value": "2017-04-21T04:22:36Z"
                      },
                      "game-started": {
                        "code": "event:game-started",
                        "name": "Game Started",
                        "value": "2017-04-21T03:12:13Z"
                      },
                      "last-set-tiebreak": {
                        "code": "event:last-set-tiebreak",
                        "name": "Last Set Tiebreak",
                        "value": "yes"
                      },
                      "live": {
                        "code": "event:live",
                        "name": "Live",
                        "value": "yes"
                      },
                      "point-by-point": {
                        "code": "event:point-by-point",
                        "name": "Point By Point",
                        "value": "yes"
                      },
                      "sets": {
                        "code": "event:sets",
                        "name": "Sets",
                        "value": "3"
                      },
                      "tennis-round-number": {
                        "code": "event:tennis-round-number",
                        "name": "Tennis Round Number",
                        "value": "6001"
                      },
                      "winner": {
                        "code": "event:winner",
                        "name": "Winner",
                        "value": "b"
                      }
                    },
                    "links": [
                      {
                        "rel": "self",
                        "href": "http://sport-uat.api.press.net/v1/event/2489661"
                      },
                      {
                        "rel": "event-composition",
                        "href": "http://sport-uat.api.press.net/v1/event/2489661/composition"
                      }
                    ]
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/event?limit=2&amp;sport=2" document-class="pa:event-collection">
                      <sports-property formal-name="hasNext" value="true"/>
                      <sports-property formal-name="hasPrevious" value="false"/>
                      <sports-property formal-name="limit" value="2"/>
                      <sports-property formal-name="offset" value="0"/>
                  </pa:sports-metadata>
                  <pa:sports-event id="event.2489667">
                      <event-metadata start-date-time="2017-04-21T03:05:00Z" event-status="pa:finished">
                          <sports-content-codes>
                              <sports-content-code code-type="pa:sport" code-key="sport:2" code-name="Tennis"/>
                              <sports-content-code code-type="pa:tournament" code-key="tournament:157" code-name="Challenger"/>
                              <sports-content-code code-type="pa:season" code-key="season:11091" code-name="2017"/>
                              <sports-content-code code-type="pa:stage" code-key="stage:848471" code-name="Qingdao"/>
                              <sports-content-code code-type="pa:round" code-key="round:3" code-name="Quarter Finals"/>
                              <sports-content-code code-type="pa:event" code-key="event:2489667" code-name="Oscar Otte-Di Wu" xsi:type="pa:sportsContentCodeComplexType">
                                  <pa:link pa:href="http://sport-uat.api.press.net/v1/event/2489667/composition" pa:rel="event-composition"/>
                              </sports-content-code>
                          </sports-content-codes>
                          <sports-property formal-name="event:comment" value="None"/>
                          <sports-property formal-name="event:event-type-name" value="Male Single"/>
                          <sports-property formal-name="event:firsttoserve" value="a"/>
                          <sports-property formal-name="event:game-ended" value="2017-04-21T03:59:28Z"/>
                          <sports-property formal-name="event:game-started" value="2017-04-21T03:08:17Z"/>
                          <sports-property formal-name="event:last-set-tiebreak" value="yes"/>
                          <sports-property formal-name="event:live" value="yes"/>
                          <sports-property formal-name="event:point-by-point" value="yes"/>
                          <sports-property formal-name="event:sets" value="3"/>
                          <sports-property formal-name="event:tennis-round-number" value="6002"/>
                          <sports-property formal-name="event:winner" value="a"/>
                          <sports-property formal-name="common:updated" value="2017-04-21T04:01:44Z"/>
                          <name>Oscar Otte-Di Wu</name>
                      </event-metadata>
                      <player>
                          <player-metadata key="player:292384" gender="male" nationality="Germany">
                              <name>Oscar Otte</name>
                          </player-metadata>
                          <player-stats>
                              <stats>
                                  <stat stat-type="result:final-result" value="won"/>
                                  <stat stat-type="result:game-score" value=""/>
                                  <stat stat-type="result:running-score" value="2"/>
                                  <stat stat-type="result:set-1" value="6"/>
                                  <stat stat-type="result:set-2" value="6"/>
                                  <stat stat-type="result:won-sets" value="2"/>
                              </stats>
                          </player-stats>
                      </player>
                      <player>
                          <player-metadata key="player:112773" gender="male" nationality="China">
                              <name>Di Wu</name>
                          </player-metadata>
                          <player-stats>
                              <stats>
                                  <stat stat-type="result:final-result" value="lost"/>
                                  <stat stat-type="result:game-score" value=""/>
                                  <stat stat-type="result:running-score" value="0"/>
                                  <stat stat-type="result:set-1" value="0"/>
                                  <stat stat-type="result:set-2" value="1"/>
                                  <stat stat-type="result:won-sets" value="0"/>
                              </stats>
                          </player-stats>
                      </player>
                  </pa:sports-event>
                  <pa:sports-event id="event.2489661">
                      <event-metadata start-date-time="2017-04-21T03:10:00Z" event-status="pa:finished">
                          <sports-content-codes>
                              <sports-content-code code-type="pa:sport" code-key="sport:2" code-name="Tennis"/>
                              <sports-content-code code-type="pa:tournament" code-key="tournament:157" code-name="Challenger"/>
                              <sports-content-code code-type="pa:season" code-key="season:11091" code-name="2017"/>
                              <sports-content-code code-type="pa:stage" code-key="stage:848471" code-name="Qingdao"/>
                              <sports-content-code code-type="pa:round" code-key="round:3" code-name="Quarter Finals"/>
                              <sports-content-code code-type="pa:event" code-key="event:2489661" code-name="Jordan Thompson-Quentin Halys" xsi:type="pa:sportsContentCodeComplexType">
                                  <pa:link pa:href="http://sport-uat.api.press.net/v1/event/2489661/composition" pa:rel="event-composition"/>
                              </sports-content-code>
                          </sports-content-codes>
                          <sports-property formal-name="event:comment" value="None"/>
                          <sports-property formal-name="event:event-type-name" value="Male Single"/>
                          <sports-property formal-name="event:firsttoserve" value="b"/>
                          <sports-property formal-name="event:game-ended" value="2017-04-21T04:22:36Z"/>
                          <sports-property formal-name="event:game-started" value="2017-04-21T03:12:13Z"/>
                          <sports-property formal-name="event:last-set-tiebreak" value="yes"/>
                          <sports-property formal-name="event:live" value="yes"/>
                          <sports-property formal-name="event:point-by-point" value="yes"/>
                          <sports-property formal-name="event:sets" value="3"/>
                          <sports-property formal-name="event:tennis-round-number" value="6001"/>
                          <sports-property formal-name="event:winner" value="b"/>
                          <sports-property formal-name="common:updated" value="2017-04-21T04:24:46Z"/>
                          <name>Jordan Thompson-Quentin Halys</name>
                      </event-metadata>
                      <player>
                          <player-metadata key="player:420223" gender="male" nationality="Australia">
                              <name>Jordan Thompson</name>
                          </player-metadata>
                          <player-stats>
                              <stats>
                                  <stat stat-type="result:final-result" value="lost"/>
                                  <stat stat-type="result:game-score" value=""/>
                                  <stat stat-type="result:running-score" value="0"/>
                                  <stat stat-type="result:set-1" value="4"/>
                                  <stat stat-type="result:set-2" value="1"/>
                                  <stat stat-type="result:won-sets" value="0"/>
                              </stats>
                          </player-stats>
                      </player>
                      <player>
                          <player-metadata key="player:385566" gender="male" nationality="France">
                              <name>Quentin Halys</name>
                          </player-metadata>
                          <player-stats>
                              <stats>
                                  <stat stat-type="result:final-result" value="won"/>
                                  <stat stat-type="result:game-score" value=""/>
                                  <stat stat-type="result:running-score" value="2"/>
                                  <stat stat-type="result:set-1" value="6"/>
                                  <stat stat-type="result:set-2" value="6"/>
                                  <stat stat-type="result:won-sets" value="2"/>
                              </stats>
                          </player-stats>
                      </player>
                  </pa:sports-event>
              </pa:sports-content>
  '/event/{eventId}':
    get:
      description: Return the event's details.
      tags:
        - Event
      operationId: getEvent
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: eventId
          description: The identifier for the event requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": 2489667,
                "name": "Oscar Otte-Di Wu",
                "status": "Finished",
                "date": "2017-04-21T03:05:00Z",
                "updated": "2017-04-21T04:01:44Z",
                "entrants": [
                  {
                    "id": 8256448,
                    "number": 1,
                    "participant": {
                      "id": 292384,
                      "name": "Oscar Otte",
                      "firstName": "Oscar",
                      "lastName": "Otte",
                      "gender": "male",
                      "type": "athlete",
                      "country": {
                        "id": 3,
                        "name": "Germany"
                      }
                    },
                    "results": {
                      "final-result": {
                        "code": "result:final-result",
                        "name": "Final Result",
                        "value": "won"
                      },
                      "game-score": {
                        "code": "result:game-score",
                        "name": "Game Score",
                        "value": ""
                      },
                      "running-score": {
                        "code": "result:running-score",
                        "name": "Running Score",
                        "value": "2"
                      },
                      "set-1": {
                        "code": "result:set-1",
                        "name": "Set 1",
                        "value": "6"
                      },
                      "set-2": {
                        "code": "result:set-2",
                        "name": "Set 2",
                        "value": "6"
                      },
                      "won-sets": {
                        "code": "result:won-sets",
                        "name": "Won Sets",
                        "value": "2"
                      }
                    }
                  },
                  {
                    "id": 8256449,
                    "number": 2,
                    "participant": {
                      "id": 112773,
                      "name": "Di Wu",
                      "firstName": "Di",
                      "lastName": "Wu",
                      "gender": "male",
                      "type": "athlete",
                      "country": {
                        "id": 125,
                        "name": "China"
                      }
                    },
                    "results": {
                      "final-result": {
                        "code": "result:final-result",
                        "name": "Final Result",
                        "value": "lost"
                      },
                      "game-score": {
                        "code": "result:game-score",
                        "name": "Game Score",
                        "value": ""
                      },
                      "running-score": {
                        "code": "result:running-score",
                        "name": "Running Score",
                        "value": "0"
                      },
                      "set-1": {
                        "code": "result:set-1",
                        "name": "Set 1",
                        "value": "0"
                      },
                      "set-2": {
                        "code": "result:set-2",
                        "name": "Set 2",
                        "value": "1"
                      },
                      "won-sets": {
                        "code": "result:won-sets",
                        "name": "Won Sets",
                        "value": "0"
                      }
                    }
                  }
                ],
                "round": {
                  "id": 3,
                  "name": "Quarter Finals",
                  "knockout": true
                },
                "stage": {
                  "id": 848471,
                  "name": "Qingdao",
                  "gender": "male",
                  "start": "2017-04-16",
                  "end": "2017-04-23",
                  "country": {
                    "id": 125,
                    "name": "China"
                  }
                },
                "season": {
                  "id": 11091,
                  "name": "2017"
                },
                "tournament": {
                  "id": 157,
                  "name": "Challenger",
                  "gender": "male"
                },
                "sport": {
                  "id": 2,
                  "name": "Tennis"
                },
                "meta": {
                  "comment": {
                    "code": "event:comment",
                    "name": "Comment",
                    "value": "None"
                  },
                  "event-type-name": {
                    "code": "event:event-type-name",
                    "name": "Event Type Name",
                    "value": "Male Single"
                  },
                  "firsttoserve": {
                    "code": "event:firsttoserve",
                    "name": "Firsttoserve",
                    "value": "a"
                  },
                  "game-ended": {
                    "code": "event:game-ended",
                    "name": "Game Ended",
                    "value": "2017-04-21T03:59:28Z"
                  },
                  "game-started": {
                    "code": "event:game-started",
                    "name": "Game Started",
                    "value": "2017-04-21T03:08:17Z"
                  },
                  "last-set-tiebreak": {
                    "code": "event:last-set-tiebreak",
                    "name": "Last Set Tiebreak",
                    "value": "yes"
                  },
                  "live": {
                    "code": "event:live",
                    "name": "Live",
                    "value": "yes"
                  },
                  "point-by-point": {
                    "code": "event:point-by-point",
                    "name": "Point By Point",
                    "value": "yes"
                  },
                  "sets": {
                    "code": "event:sets",
                    "name": "Sets",
                    "value": "3"
                  },
                  "tennis-round-number": {
                    "code": "event:tennis-round-number",
                    "name": "Tennis Round Number",
                    "value": "6002"
                  },
                  "winner": {
                    "code": "event:winner",
                    "name": "Winner",
                    "value": "a"
                  }
                },
                "links": [
                  {
                    "rel": "self",
                    "href": "http://sport-uat.api.press.net/v1/event/2489667"
                  },
                  {
                    "rel": "event-composition",
                    "href": "http://sport-uat.api.press.net/v1/event/2489667/composition"
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/event/2489667" document-class="pa:event-detail">
                      <sports-title>Oscar Otte-Di Wu</sports-title>
                  </pa:sports-metadata>
                  <pa:sports-event id="event.2489667">
                      <event-metadata start-date-time="2017-04-21T03:05:00Z" event-status="pa:finished">
                          <sports-content-codes>
                              <sports-content-code code-type="pa:sport" code-key="sport:2" code-name="Tennis"/>
                              <sports-content-code code-type="pa:tournament" code-key="tournament:157" code-name="Challenger"/>
                              <sports-content-code code-type="pa:season" code-key="season:11091" code-name="2017"/>
                              <sports-content-code code-type="pa:stage" code-key="stage:848471" code-name="Qingdao"/>
                              <sports-content-code code-type="pa:round" code-key="round:3" code-name="Quarter Finals"/>
                              <sports-content-code code-type="pa:event" code-key="event:2489667" code-name="Oscar Otte-Di Wu" xsi:type="pa:sportsContentCodeComplexType">
                                  <pa:link pa:href="http://sport-uat.api.press.net/v1/event/2489667/composition" pa:rel="event-composition"/>
                              </sports-content-code>
                          </sports-content-codes>
                          <sports-property formal-name="event:comment" value="None"/>
                          <sports-property formal-name="event:event-type-name" value="Male Single"/>
                          <sports-property formal-name="event:firsttoserve" value="a"/>
                          <sports-property formal-name="event:game-ended" value="2017-04-21T03:59:28Z"/>
                          <sports-property formal-name="event:game-started" value="2017-04-21T03:08:17Z"/>
                          <sports-property formal-name="event:last-set-tiebreak" value="yes"/>
                          <sports-property formal-name="event:live" value="yes"/>
                          <sports-property formal-name="event:point-by-point" value="yes"/>
                          <sports-property formal-name="event:sets" value="3"/>
                          <sports-property formal-name="event:tennis-round-number" value="6002"/>
                          <sports-property formal-name="event:winner" value="a"/>
                          <sports-property formal-name="common:updated" value="2017-04-21T04:01:44Z"/>
                          <name>Oscar Otte-Di Wu</name>
                      </event-metadata>
                      <player>
                          <player-metadata key="player:292384" gender="male" nationality="Germany">
                              <name>Oscar Otte</name>
                          </player-metadata>
                          <player-stats>
                              <stats>
                                  <stat stat-type="result:final-result" value="won"/>
                                  <stat stat-type="result:game-score" value=""/>
                                  <stat stat-type="result:running-score" value="2"/>
                                  <stat stat-type="result:set-1" value="6"/>
                                  <stat stat-type="result:set-2" value="6"/>
                                  <stat stat-type="result:won-sets" value="2"/>
                              </stats>
                          </player-stats>
                      </player>
                      <player>
                          <player-metadata key="player:112773" gender="male" nationality="China">
                              <name>Di Wu</name>
                          </player-metadata>
                          <player-stats>
                              <stats>
                                  <stat stat-type="result:final-result" value="lost"/>
                                  <stat stat-type="result:game-score" value=""/>
                                  <stat stat-type="result:running-score" value="0"/>
                                  <stat stat-type="result:set-1" value="0"/>
                                  <stat stat-type="result:set-2" value="1"/>
                                  <stat stat-type="result:won-sets" value="0"/>
                              </stats>
                          </player-stats>
                      </player>
                  </pa:sports-event>
              </pa:sports-content>
  '/event/{eventId}/actions':
    get:
      description: Return the event's actions.
      tags:
        - Event
        - Action
      operationId: getEventActions
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: eventId
          description: The identifier for the event requested.
      responses:
        '200':
          description: ''
          schema:
            type: array
          examples:
            application/json: |-
              [
                {
                  "id": 4710383,
                  "code": "goal",
                  "type": "Regular goal",
                  "elapsed": 3453,
                  "participants": [
                    {
                      "id": 365,
                      "name": "St. Louis Blues",
                      "gender": "male",
                      "type": "team",
                      "country": {
                        "id": 16,
                        "name": "USA"
                      },
                      "participants": [
                        {
                          "id": 309913,
                          "name": "Jaden Schwartz",
                          "firstName": "Jaden",
                          "lastName": "Schwartz",
                          "gender": "male",
                          "type": "athlete",
                          "country": {
                            "id": 23,
                            "name": "Canada"
                          }
                        }
                      ]
                    }
                  ],
                  "meta": {
                    "player-name": {
                      "code": "action:player-name",
                      "name": "Player Name",
                      "value": "Jaden Schwartz"
                    }
                  },
                  "updated": "2017-04-15T02:46:20Z"
                },
                {
                  "id": 4710384,
                  "code": "assist",
                  "type": "Assist",
                  "elapsed": 3453,
                  "participants": [
                    {
                      "id": 365,
                      "name": "St. Louis Blues",
                      "gender": "male",
                      "type": "team",
                      "country": {
                        "id": 16,
                        "name": "USA"
                      },
                      "participants": [
                        {
                          "id": 156557,
                          "name": "Alex Pietrangelo",
                          "firstName": "Alex",
                          "lastName": "Pietrangelo",
                          "gender": "male",
                          "type": "athlete",
                          "country": {
                            "id": 23,
                            "name": "Canada"
                          }
                        }
                      ]
                    }
                  ],
                  "meta": {
                    "incident": {
                      "code": "action:incident",
                      "name": "Incident",
                      "value": "4710383"
                    },
                    "player-name": {
                      "code": "action:player-name",
                      "name": "Player Name",
                      "value": "Alex Pietrangelo"
                    }
                  },
                  "updated": "2017-04-15T02:46:20Z"
                },
                {
                  "id": 4710385,
                  "code": "assist",
                  "type": "Assist 2nd",
                  "elapsed": 3453,
                  "participants": [
                    {
                      "id": 365,
                      "name": "St. Louis Blues",
                      "gender": "male",
                      "type": "team",
                      "country": {
                        "id": 16,
                        "name": "USA"
                      },
                      "participants": [
                        {
                          "id": 99288,
                          "name": "Kyle Brodziak",
                          "firstName": "Kyle",
                          "lastName": "Brodziak",
                          "gender": "male",
                          "type": "athlete",
                          "country": {
                            "id": 23,
                            "name": "Canada"
                          }
                        }
                      ]
                    }
                  ],
                  "meta": {
                    "incident": {
                      "code": "action:incident",
                      "name": "Incident",
                      "value": "4710383"
                    },
                    "player-name": {
                      "code": "action:player-name",
                      "name": "Player Name",
                      "value": "Kyle Brodziak"
                    }
                  },
                  "updated": "2017-04-15T02:47:23Z"
                }
              ]
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/event/2486120/actions" document-class="pa:event-actions"></pa:sports-metadata>
                  <pa:sports-event id="event.2486120">
                      <team id="team.315">
                          <team-metadata key="team:315" nationality="USA">
                              <name>Minnesota Wild</name>
                          </team-metadata>
                          <player id="player.312575">
                              <player-metadata key="player:312575" gender="male" nationality="USA">
                                  <name>Jason Zucker</name>
                              </player-metadata>
                          </player>
                          <player id="player.426451">
                              <player-metadata key="player:426451" gender="male" nationality="USA">
                                  <name>Charlie Coyle</name>
                              </player-metadata>
                          </player>
                      </team>
                      <team id="team.365">
                          <team-metadata key="team:365" nationality="USA">
                              <name>St. Louis Blues</name>
                          </team-metadata>
                          <player id="player.99288">
                              <player-metadata key="player:99288" gender="male" nationality="Canada">
                                  <name>Kyle Brodziak</name>
                              </player-metadata>
                          </player>
                          <player id="player.156557">
                              <player-metadata key="player:156557" gender="male" nationality="Canada">
                                  <name>Alex Pietrangelo</name>
                              </player-metadata>
                          </player>
                          <player id="player.309913">
                              <player-metadata key="player:309913" gender="male" nationality="Canada">
                                  <name>Jaden Schwartz</name>
                              </player-metadata>
                          </player>
                      </team>
                      <actions>
                          <action id="action.4710383" pa:action-type="Regular goal" pa:formal-name="action:goal" minutes-elapsed="3453" xsi:type="pa:actionComplexType">
                              <pa:sports-property formal-name="action:player-name" value="Jaden Schwartz"/>
                              <pa:sports-property formal-name="common:updated" value="2017-04-15T02:46:20Z"/>
                              <pa:participant idref="player.309913" team-idref="team.365"/>
                          </action>
                          <action id="action.4710384" pa:action-type="Assist" pa:formal-name="action:assist" minutes-elapsed="3453" xsi:type="pa:actionComplexType">
                              <pa:sports-property formal-name="action:incident" value="4710383"/>
                              <pa:sports-property formal-name="action:player-name" value="Alex Pietrangelo"/>
                              <pa:sports-property formal-name="common:updated" value="2017-04-15T02:46:20Z"/>
                              <pa:participant idref="player.156557" team-idref="team.365"/>
                          </action>
                          <action id="action.4710385" pa:action-type="Assist 2nd" pa:formal-name="action:assist" minutes-elapsed="3453" xsi:type="pa:actionComplexType">
                              <pa:sports-property formal-name="action:incident" value="4710383"/>
                              <pa:sports-property formal-name="action:player-name" value="Kyle Brodziak"/>
                              <pa:sports-property formal-name="common:updated" value="2017-04-15T02:47:23Z"/>
                              <pa:participant idref="player.99288" team-idref="team.365"/>
                          </action>
                      </actions>
                  </pa:sports-event>
              </pa:sports-content>
  '/event/{eventId}/composition':
    get:
      description: Return the event composition.
      tags:
        - Event
        - Composition
      operationId: getEventComposition
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: eventId
          description: The identifier for the event requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "game1": {
                  "code": "scope:game1",
                  "name": "Game 1",
                  "entrants": [
                    {
                      "id": 8256448,
                      "number": 1,
                      "participant": {
                        "id": 292384,
                        "name": "Oscar Otte",
                        "firstName": "Oscar",
                        "lastName": "Otte",
                        "gender": "male",
                        "type": "athlete",
                        "country": {
                          "id": 3,
                          "name": "Germany"
                        }
                      },
                      "meta": {
                        "game-win": {
                          "code": "entrant:game-win",
                          "name": "Game Win",
                          "value": "hold"
                        },
                        "serve": {
                          "code": "entrant:serve",
                          "name": "Who Is Serve",
                          "value": "yes"
                        }
                      }
                    },
                    {
                      "id": 8256449,
                      "number": 2,
                      "participant": {
                        "id": 112773,
                        "name": "Di Wu",
                        "firstName": "Di",
                        "lastName": "Wu",
                        "gender": "male",
                        "type": "athlete",
                        "country": {
                          "id": 125,
                          "name": "China"
                        }
                      },
                      "meta": {
                        "game-lost": {
                          "code": "entrant:game-lost",
                          "name": "Game Lost",
                          "value": "15"
                        }
                      }
                    }
                  ],
                  "updated": "2017-04-21T03:12:20Z"
                },
                "game2": {
                  "code": "scope:game2",
                  "name": "Game 2",
                  "entrants": [
                    {
                      "id": 8256448,
                      "number": 1,
                      "participant": {
                        "id": 292384,
                        "name": "Oscar Otte",
                        "firstName": "Oscar",
                        "lastName": "Otte",
                        "gender": "male",
                        "type": "athlete",
                        "country": {
                          "id": 3,
                          "name": "Germany"
                        }
                      },
                      "meta": {
                        "game-win": {
                          "code": "entrant:game-win",
                          "name": "Game Win",
                          "value": "break"
                        }
                      }
                    },
                    {
                      "id": 8256449,
                      "number": 2,
                      "participant": {
                        "id": 112773,
                        "name": "Di Wu",
                        "firstName": "Di",
                        "lastName": "Wu",
                        "gender": "male",
                        "type": "athlete",
                        "country": {
                          "id": 125,
                          "name": "China"
                        }
                      },
                      "meta": {
                        "game-lost": {
                          "code": "entrant:game-lost",
                          "name": "Game Lost",
                          "value": "30"
                        },
                        "serve": {
                          "code": "entrant:serve",
                          "name": "Who Is Serve",
                          "value": "yes"
                        }
                      }
                    }
                  ],
                  "updated": "2017-04-21T03:15:37Z"
                }
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/event/2489667/composition" document-class="pa:event-composition"></pa:sports-metadata>
                  <pa:sports-event id="event.2489667">
                      <event-metadata>
                          <sports-property formal-name="common:updated" value="2017-04-21T03:15:37Z"/>
                          <sports-property formal-name="common:updated:game1" value="2017-04-21T03:12:20Z"/>
                          <sports-property formal-name="common:updated:game2" value="2017-04-21T03:15:37Z"/>
                      </event-metadata>
                      <player>
                          <player-metadata key="player:112773" gender="male" nationality="China">
                              <name>Di Wu</name>
                          </player-metadata>
                          <player-stats>
                              <stats>
                                  <stat stat-type="collection:game">
                                      <stat stat-type="scope:game1">
                                          <stat stat-type="entrant:game-lost" value="15"></stat>
                                      </stat>
                                      <stat stat-type="scope:game2">
                                          <stat stat-type="entrant:game-lost" value="30"></stat>
                                          <stat stat-type="entrant:serve" value="yes"></stat>
                                      </stat>
                                  </stat>
                              </stats>
                          </player-stats>
                      </player>
                      <player>
                          <player-metadata key="player:292384" gender="male" nationality="Germany">
                              <name>Oscar Otte</name>
                          </player-metadata>
                          <player-stats>
                              <stats>
                                  <stat stat-type="collection:game">
                                      <stat stat-type="scope:game1">
                                          <stat stat-type="entrant:game-win" value="hold"></stat>
                                          <stat stat-type="entrant:serve" value="yes"></stat>
                                      </stat>
                                      <stat stat-type="scope:game2">
                                          <stat stat-type="entrant:game-win" value="break"></stat>
                                      </stat>
                                  </stat>
                              </stats>
                          </player-stats>
                      </player>
                  </pa:sports-event>
              </pa:sports-content>
  /participant:
    get:
      description: Return a collection of participants.
      tags:
        - Participant
      operationId: listParticipants
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseParentId'
          name: sport
        - $ref: '#/parameters/baseParentId'
          name: country
        - $ref: '#/parameters/limit'
          maximum: 100
        - $ref: '#/parameters/offset'
      responses:
        "200":
          description: "Participant Collection Response"
          schema:
            type: "object"
          examples:
            application/json: |-
              {
                "offset": 0,
                "limit": 2,
                "hasNext": true,
                "hasPrevious": false,
                "items": [
                  {
                    "id": 167964,
                    "name": "07 Vestur",
                    "gender": "male",
                    "type": "team",
                    "country": {
                      "id": 67,
                      "name": "Faroe Islands"
                    },
                    "sports": [
                      {
                        "id": 1,
                        "name": "Soccer"
                      }
                    ],
                    "meta": {
                      "is-national-team": {
                        "code": "participant:is-national-team",
                        "name": "Is National Team",
                        "value": "no"
                      },
                      "to-be-decided": {
                        "code": "participant:to-be-decided",
                        "name": "To Be Decided",
                        "value": "no"
                      }
                    },
                    "updated": "2015-03-05T13:51:15Z"
                  },
                  {
                    "id": 658402,
                    "name": "1. CfR Pforzheim",
                    "gender": "male",
                    "type": "team",
                    "country": {
                      "id": 3,
                      "name": "Germany"
                    },
                    "sports": [
                      {
                        "id": 1,
                        "name": "Soccer"
                      }
                    ],
                    "meta": {
                      "is-national-team": {
                        "code": "participant:is-national-team",
                        "name": "Is National Team",
                        "value": "no"
                      },
                      "to-be-decided": {
                        "code": "participant:to-be-decided",
                        "name": "To Be Decided",
                        "value": "no"
                      }
                    },
                    "updated": "2015-12-08T08:59:33Z"
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/participant?sport=1" document-class="pa:participant-collection">
                      <sports-property formal-name="hasNext" value="true"/>
                      <sports-property formal-name="hasPrevious" value="false"/>
                      <sports-property formal-name="limit" value="20"/>
                      <sports-property formal-name="offset" value="0"/>
                  </pa:sports-metadata>
                  <pa:team id="team.167964">
                      <team-metadata key="team:167964" nationality="Faroe Islands">
                          <name>07 Vestur</name>
                          <sports-property formal-name="common:updated" value="2015-03-05T13:51:15Z"/>
                          <sports-property formal-name="participant:is-national-team" value="no"/>
                          <sports-property formal-name="participant:to-be-decided" value="no"/>
                      </team-metadata>
                  </pa:team>
                  <pa:team id="team.658402">
                      <team-metadata key="team:658402" nationality="Germany">
                          <name>1. CfR Pforzheim</name>
                          <sports-property formal-name="common:updated" value="2015-12-08T08:59:33Z"/>
                          <sports-property formal-name="participant:is-national-team" value="no"/>
                          <sports-property formal-name="participant:to-be-decided" value="no"/>
                      </team-metadata>
                  </pa:team>
              </pa:sports-content>
  '/participant/{participantId}':
    get:
      description: Return the participant's details.
      tags:
        - Participant
      operationId: getParticipant
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: participantId
          description: The identifier for the participant requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": 315,
                "name": "Minnesota Wild",
                "gender": "male",
                "type": "team",
                "country": {
                  "id": 16,
                  "name": "USA"
                },
                "sports": [
                  {
                    "id": 5,
                    "name": "Ice Hockey"
                  }
                ],
                "meta": {
                  "conference": {
                    "code": "participant:conference",
                    "name": "Conference",
                    "value": "Western Conference"
                  },
                  "division": {
                    "code": "participant:division",
                    "name": "Division",
                    "value": "Central"
                  },
                  "home-page": {
                    "code": "participant:home-page",
                    "name": "Home Page",
                    "value": "http://wild.nhl.com/"
                  },
                  "is-national-team": {
                    "code": "participant:is-national-team",
                    "name": "Is National Team",
                    "value": "no"
                  },
                  "to-be-decided": {
                    "code": "participant:to-be-decided",
                    "name": "To Be Decided",
                    "value": "no"
                  }
                },
                "updated": "2016-06-15T19:23:53Z",
                "links": [
                  {
                    "rel": "self",
                    "href": "http://sport-uat.api.press.net/v1/participant/315"
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/participant/315" document-class="pa:participant-detail">
                      <sports-title>Minnesota Wild</sports-title>
                  </pa:sports-metadata>
                  <pa:team id="team.315">
                      <team-metadata key="team:315" nationality="USA">
                          <name>Minnesota Wild</name>
                          <sports-property formal-name="common:updated" value="2016-06-15T19:23:53Z"/>
                          <sports-property formal-name="participant:conference" value="Western Conference"/>
                          <sports-property formal-name="participant:division" value="Central"/>
                          <sports-property formal-name="participant:home-page" value="http://wild.nhl.com/"/>
                          <sports-property formal-name="participant:is-national-team" value="no"/>
                          <sports-property formal-name="participant:to-be-decided" value="no"/>
                      </team-metadata>
                  </pa:team>
              </pa:sports-content>
  /season:
    get:
      description: Return a collection of seasons.
      tags:
        - Season
      operationId: listSeasons
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseParentId'
          name: tournament
          description: The Tournament Id for the event selection.
        - $ref: '#/parameters/limit'
          maximum: 30
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "offset": 0,
                "limit": 2,
                "hasNext": true,
                "hasPrevious": false,
                "items": [
                  {
                    "id": 11091,
                    "name": "2017",
                    "tournament": {
                      "id": 157,
                      "name": "Challenger",
                      "gender": "male"
                    },
                    "sport": {
                      "id": 2,
                      "name": "Tennis"
                    },
                    "updated": "2016-12-14T02:42:45Z",
                    "links": [
                      {
                        "rel": "self",
                        "href": "http://sport-uat.api.press.net/v1/season/11091"
                      }
                    ]
                  },
                  {
                    "id": 9920,
                    "name": "2016",
                    "tournament": {
                      "id": 157,
                      "name": "Challenger",
                      "gender": "male"
                    },
                    "sport": {
                      "id": 2,
                      "name": "Tennis"
                    },
                    "updated": "2015-10-12T22:02:03Z",
                    "links": [
                      {
                        "rel": "self",
                        "href": "http://sport-uat.api.press.net/v1/season/9920"
                      }
                    ]
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/season?tournament=157&amp;limit=2" document-class="pa:season-collection">
                      <sports-property formal-name="hasNext" value="true"/>
                      <sports-property formal-name="hasPrevious" value="false"/>
                      <sports-property formal-name="limit" value="2"/>
                      <sports-property formal-name="offset" value="0"/>
                  </pa:sports-metadata>
                  <pa:tournament id="tournament.157">
                      <tournament-division id="season.11091">
                          <tournament-division-metadata>
                              <sports-content-codes>
                                  <sports-content-code code-type="pa:sport" code-key="sport:2" code-name="Tennis"/>
                                  <sports-content-code code-type="pa:gender" code-key="gender:male" code-name="male"/>
                                  <sports-content-code code-type="pa:tournament" code-key="tournament:157" code-name="Challenger"/>
                                  <sports-content-code code-type="pa:season" code-key="season:11091" code-name="2017" xsi:type="pa:sportsContentCodeComplexType"></sports-content-code>
                              </sports-content-codes>
                              <sports-property formal-name="common:updated" value="2016-12-14T02:42:45Z"/>
                              <name>2017</name>
                          </tournament-division-metadata>
                      </tournament-division>
                      <tournament-division id="season.9920">
                          <tournament-division-metadata>
                              <sports-content-codes>
                                  <sports-content-code code-type="pa:sport" code-key="sport:2" code-name="Tennis"/>
                                  <sports-content-code code-type="pa:gender" code-key="gender:male" code-name="male"/>
                                  <sports-content-code code-type="pa:tournament" code-key="tournament:157" code-name="Challenger"/>
                                  <sports-content-code code-type="pa:season" code-key="season:9920" code-name="2016" xsi:type="pa:sportsContentCodeComplexType"></sports-content-code>
                              </sports-content-codes>
                              <sports-property formal-name="common:updated" value="2015-10-12T22:02:03Z"/>
                              <name>2016</name>
                          </tournament-division-metadata>
                      </tournament-division>
                  </pa:tournament>
              </pa:sports-content>
  '/season/{seasonId}':
    get:
      description: Return the season's details.
      tags:
        - Season
      operationId: getSeason
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/baseEntityId'
          name: seasonId
          description: The identifier for the season requested.
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "id": 9920,
                "name": "2016",
                "tournament": {
                  "id": 157,
                  "name": "Challenger",
                  "gender": "male"
                },
                "sport": {
                  "id": 2,
                  "name": "Tennis"
                },
                "updated": "2015-10-12T22:02:03Z",
                "links": [
                  {
                    "rel": "self",
                    "href": "http://sport-uat.api.press.net/v1/season/9920"
                  }
                ]
              }
            application/xml: |-
              <?xml version="1.0" encoding="utf-8" ?>
              <pa:sports-content xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:pa="http://sport-api.pa.press.net/2016-09-30/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <pa:sports-metadata doc-id="http://sport-uat.api.press.net/v1/season/9920" document-class="pa:season-detail">
                      <sports-title>2016</sports-title>
                  </pa:sports-metadata>
                  <pa:tournament id="tournament.157">
                      <tournament-division id="season.9920">
                          <tournament-division-metadata>
                              <sports-content-codes>
                                  <sports-content-code code-type="pa:sport" code-key="sport:2" code-name="Tennis"/>
                                  <sports-content-code code-type="pa:gender" code-key="gender:male" code-name="male"/>
                                  <sports-content-code code-type="pa:tournament" code-key="tournament:157" code-name="Challenger"/>
                                  <sports-content-code code-type="pa:season" code-key="season:9920" code-name="2016" xsi:type="pa:sportsContentCodeComplexType"></sports-content-code>
                              </sports-content-codes>
                              <sports-property formal-name="common:updated" value="2015-10-12T22:02:03Z"/>
                              <name>2016</name>
                          </tournament-division-metadata>
                      </tournament-division>
                  </pa:tournament>
              </pa:sports-content>
  /sport:
    get:
      description: Return a collection of sports.
      tags:
        - Sport
      operationId: listSports
      parameters:
        - $ref: '#/parameters/Accept'
        - $ref: '#/parameters/limit'
          maximum: 30
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            application/json: |-
              {
                "offset": 0,
[...]
